<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
# You code here
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
# You code here
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
data['native-country'].value_counts(normalize = True)

United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
Greece                        0.000891
France                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Cambodia                      0.000584
Trinadad&Tobago               0.000584
Laos                          0.000553
Thailand                      0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Honduras                      0.000399
Hungary                       0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native-country, dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
# You code here
data.groupby('salary')['age'].describe()

          count       mean        std   min   25%   50%   75%   max
salary
<=50K   24720.0  36.783738  14.020088  17.0  25.0  34.0  46.0  90.0
>50K     7841.0  44.249841  10.519028  19.0  36.0  44.0  51.0  90.0

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
# You code here
data.groupby('salary')['education'].value_counts()

salary  education
<=50K   HS-grad         8826
        Some-college    5904
        Bachelors       3134
        11th            1115
        Assoc-voc       1021
        10th             871
        Assoc-acdm       802
        Masters          764
        7th-8th          606
        9th              487
        12th             400
        5th-6th          317
        1st-4th          162
        Prof-school      153
        Doctorate        107
        Preschool         51
>50K    Bachelors       2221
        HS-grad         1675
        Some-college    1387
        Masters          959
        Prof-school      423
        Assoc-voc        361
        Doctorate        306
        Assoc-acdm       265
        10th              62
        11th              60
        7th-8th           40
        12th              33
        9th               27
        5th-6th           16
        1st-4th            6
Name: education, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
# You code here
data.groupby(['race','sex'])['age'].describe()

                             count       mean  ...     75%   max
race               sex                         ...
Amer-Indian-Eskimo Female    119.0  37.117647  ...   46.00  80.0
                   Male      192.0  37.208333  ...   45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  ...   43.75  75.0
                   Male      693.0  39.073593  ...   46.00  90.0
Black              Female   1555.0  37.854019  ...   46.00  90.0
                   Male     1569.0  37.682600  ...   46.00  90.0
Other              Female    109.0  31.678899  ...   39.00  74.0
                   Male      162.0  34.654321  ...   42.00  77.0
White              Female   8642.0  36.811618  ...   46.00  90.0
                   Male    19174.0  39.652498  ...   49.00  90.0

[10 rows x 8 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [9]:
# You code he
rich = data[data['salary'] == '>50K']
rich['marital-status'].apply(lambda marital_status: marital_status[0] == 'M').value_counts(normalize=True)

True     0.859074
False    0.140926
Name: marital-status, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [10]:
# You code here
data[data['hours-per-week'] == 99]
#data[data['hours-per-week'] == 99]['salary'].value_counts(normalize=True)

       age         workclass  ...    native-country salary
935     37           Private  ...     United-States   >50K
1172    25           Private  ...     United-States   >50K
1887    55  Self-emp-not-inc  ...     United-States   >50K
3578    37      Self-emp-inc  ...     United-States   >50K
4086    50                 ?  ...     United-States  <=50K
4308    35  Self-emp-not-inc  ...     United-States  <=50K
4441    43      Self-emp-inc  ...     United-States   >50K
5376    43           Private  ...     United-States  <=50K
5432    44           Private  ...     United-States  <=50K
6618    27           Private  ...     United-States  <=50K
6898    53  Self-emp-not-inc  ...     United-States  <=50K
8072    44  Self-emp-not-inc  ...     United-States  <=50K
8393    50      Self-emp-inc  ...     United-States   >50K
8654    30           Private  ...     United-States  <=50K
8796    39           Private  ...     United-States   >50K
9811    28           Private  ...       Philippines  <=50K
9831    67           Private  ...     United-States  <=50K
10143   35                 ?  ...     United-States  <=50K
10266   56      Self-emp-inc  ...     United-States  <=50K
10468   44  Self-emp-not-inc  ...     United-States  <=50K
10986   38           Private  ...     United-States   >50K
11833   58           Private  ...     United-States  <=50K
12209   53  Self-emp-not-inc  ...     United-States  <=50K
12625   51           Private  ...             South  <=50K
12788   24         State-gov  ...           England  <=50K
13558   38           Private  ...     United-States   >50K
13580   38  Self-emp-not-inc  ...     United-States  <=50K
13617   49           Private  ...     United-States  <=50K
13858   37           Private  ...            France   >50K
14593   27           Private  ...     United-States  <=50K
...    ...               ...  ...               ...    ...
23226   51  Self-emp-not-inc  ...     United-States  <=50K
23398   66           Private  ...     United-States  <=50K
23649   45           Private  ...     United-States   >50K
23830   45  Self-emp-not-inc  ...     United-States  <=50K
24483   39      Self-emp-inc  ...             Japan   >50K
25354   65           Private  ...     United-States  <=50K
25713   32           Private  ...     United-States   >50K
25806   49                 ?  ...     United-States  <=50K
25831   31           Private  ...     United-States   >50K
25986   44         Local-gov  ...     United-States  <=50K
26250   36  Self-emp-not-inc  ...     United-States  <=50K
26596   35           Private  ...     United-States   >50K
26638   55  Self-emp-not-inc  ...     United-States  <=50K
26858   66           Private  ...     United-States  <=50K
27222   32         Local-gov  ...     United-States  <=50K
27764   38  Self-emp-not-inc  ...     United-States  <=50K
27809   30           Private  ...     United-States  <=50K
28112   61                 ?  ...     United-States  <=50K
29187   31           Private  ...     United-States   >50K
29751   51  Self-emp-not-inc  ...     United-States  <=50K
29989   43         Local-gov  ...     United-States   >50K
30036   40           Private  ...     United-States   >50K
30610   51  Self-emp-not-inc  ...     United-States   >50K
30754   31           Private  ...     United-States  <=50K
30766   42  Self-emp-not-inc  ...     United-States   >50K
30992   40      Self-emp-inc  ...     United-States  <=50K
31681   43           Private  ...     United-States   >50K
31699   43  Self-emp-not-inc  ...     United-States  <=50K
32469   58      Self-emp-inc  ...                 ?  <=50K
32531   30                 ?  ...     United-States  <=50K

[85 rows x 15 columns]

In [11]:
data['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [12]:
# You code here
data.groupby(['native-country', 'salary'])['hours-per-week'].mean().loc['Japan']
#data2[data2['native-country'] == 'Japan']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64